<div align="center">

    <h1 *ngIf="!form.data.id" style="margin-bottom: 5px; color: navy">
        Add Notification
    </h1>
    <h1 *ngIf="form.data.id>0" style="margin-bottom: 5px; color: navy">
        Update Notification
    </h1>

    <div style="height: 20px; margin-bottom: 10px;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <table>

        <tr>
            <th align="left">Notification Id<span style="color:red">*</span></th>
            <td>
                <input type="number" name="notificationId"
                       [(ngModel)]="form.data.notificationId"
                       placeholder="Enter Notification Id">
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.notificationId}}
            </td>
        </tr>

        <tr>
            <th align="left">Title<span style="color:red">*</span></th>
            <td>
                <input type="text" name="title"
                       [(ngModel)]="form.data.title"
                       placeholder="Enter Title">
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.title}}
            </td>
        </tr>

        <tr>
            <th align="left">Message<span style="color:red">*</span></th>
            <td>
                <textarea name="message"
                          [(ngModel)]="form.data.message"
                          placeholder="Enter Message"
                          rows="2" style="width: 97%;"></textarea>
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.message}}
            </td>
        </tr>

        <tr>
            <th align="left">Sent Date<span style="color: red">*</span></th>
            <td>
                <input type="date" name="sentDate"
                       [(ngModel)]="form.data.sentDate"
                       [ngModel]="form.data.sentDate | date:'yyyy-MM-dd'"
                       style="width: 97%;">
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.sentDate}}
            </td>
        </tr>

        <tr>
            <th align="left">Is Read<span style="color:red">*</span></th>
            <td>
                <select name="isRead"
                        [(ngModel)]="form.data.isRead"
                        style="width:170px;">
                    <option [ngValue]="true">Read</option>
                    <option [ngValue]="false">Unread</option>
                </select>
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.isRead}}
            </td>
        </tr>

        <tr>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">Save</button> &nbsp;
                <button (click)="reset()">Reset</button>
            </td>
        </tr>

    </table>
</div>
