<div align="center">

    <h1 *ngIf="!form.data.id" style="margin-bottom: 5px; color: navy">
        Add Appointment
    </h1>
    <h1 *ngIf="form.data.id>0" style="margin-bottom: 5px; color: navy">
        Update Appointment
    </h1>

    <div style="height: 20px; margin-bottom: 10px;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <table>




        <tr>
            <th align="left">Patient Name<span style="color:red">*</span></th>
            <td>
                <input type="text" name="patientName" [(ngModel)]="form.data.patientName"
                    placeholder="Enter Patient Name">
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.patientName}}
            </td>
        </tr>


        <tr>
            <th align="left">Appointment date<span style="color: red">*</span></th>
            <td><input type="date" name="appointmentDate" [(ngModel)]="form.data.appointmentDate"
                    [ngModel]="form.data.appointmentDate | date:'yyyy-MM-dd'" placeholder="Select Date "
                    style="width: 97%;"></td>
            <td style="position: fixed; color: red;">{{form.inputerror.appointmentDate}}</td>
        </tr>

        <tr>
            <th align="left">Status<span style="color:red">*</span></th>
            <td>
                <select name="status" [(ngModel)]="form.data.status" style="width:170px;">
                    <option value="undefined">------------Select------------</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>

                </select>
            </td>
            <td style="position: fixed; color: red;">
                {{form.inputerror.status}}
            </td>
        </tr>

        <tr></tr>

        <tr *ngIf=!form.data.id>
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">save</button> &nbsp;
                <button (click)="reset()">reset</button>
            </td>
        </tr>

        <tr *ngIf="form.data.id>0">
           
            <th></th>
            <td align="left" colspan="2">
                <button (click)="submit()">update</button> &nbsp;
                <button (click)="forward('/appointmentList')"> List</button>&nbsp;
                <button (click)="reset()">reset</button>
            </td>
        </tr>

    </table>
</div>