<div align="center">
    <h1 align="center" style="margin-bottom: 5px; color: navy;">
        Appointment List
    </h1>


    <div style="height: 20px; margin-bottom: 10px; text-align: center;">
        <h3 style="margin: 0; color: green;" *ngIf="!form.error && form.message">
            {{ form.message }}
        </h3>
        <h3 style="margin: 0; color: red;" *ngIf="form.error && form.message">
            {{ form.message }}
        </h3>
    </div>

    <div *ngIf="form.list.length > 0">


        <table style="width: 100%">
            <tr>
                <td align="center">
                    <label><b>Activity Name: </b></label>
                    <input type="text" name="patientName" [(ngModel)]="form.searchParams.patientName"
                        placeholder="Enter Patient Name">
                    &nbsp;

                    <button (click)="search()">search</button>&nbsp;
                    <button (click)="reset()">reset</button>
                </td>
            </tr>
        </table>

        <br>

        <!-- List Table -->
        <table border="1" style="width: 100%; border: groove;">
            <tr style="background-color: #e1e6f1e3;">
                <th>
                    <input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" />
                </th>
                <th>S.No</th>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>

            <tr align="center" *ngFor="let a of form.list; let i = index">
                <td>
                    <input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="a.activityId"
                        [value]="isMasterSel">
                </td>

                <td>{{ (form.pageNo * 5) + i + 1 }}</td>
                <td>{{ a.patientName }}</td>
                <td>{{ a.appointmentDate | date:'yyyy-MM-dd' }}</td>
                <td>{{ a.status }}</td>

                <td>
                    <a (click)="forward('/appointment/' + a.id)" style="cursor: pointer; color: blue;">
                        Edit
                    </a>
                </td>
            </tr>
        </table>

        <br>


        <table style="width: 100%">
            <tr>
                <td style="width: 25%">
                    <button (click)="previous()" [disabled]="form.pageNo == 0">
                        previous
                    </button>
                </td>

                <td align="center" style="width: 25%">
                    <button (click)="forward('/appointment')">
                        new
                    </button>
                </td>

                <td align="center" style="width: 25%">
                    <button (click)="deleteMany()">
                        delete
                    </button>
                </td>

                <td style="width: 25%" align="right">
                    <button (click)="next()" [disabled]="form.nextListSize == 0">
                        next
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <div *ngIf="form.list.length == 0">
        <button (click)="reset()">Back</button>
    </div>
</div>